$bgColor: #a6c9ff;
$blok1: #B47FF6;
$blok2: #7029CB;
$blok3: #BEB9FF;
$minBlok3: #3ADE4B;
$blok4: #D4FF5A;
$minBlok4: #497957;
$minBlok4Border: #00FF4A;
$blok5: #D87FF6;
$btn: #FF4B4B;
$textColor: #FFFFFF;